<div class="row">
    <div class="col-xs-12">
        <button (click)="onNewRecipe()" class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipes-item 
        *ngFor="let recipeEl of recipes; let i = index"
        [recipe] = "recipeEl"
        [index]="i"> 
        <!-- recipeEl is the iteration element, we are passing value to [recipe] so it can be used to the child component (recipes-item.component) -->
        <!-- is called binding, on the recipe-item component we @import to get the value -->

        </app-recipes-item>
    </div>
</div>
